.about-container{
    display: block;
    padding-top: 40px;
}
.pretty-cont{
    background-color: #02002486;
    backdrop-filter: blur(5px) saturate(1.25);
    border: 2px #27273fc4 solid;
    border-radius: 30px;
}
.mar-bot{
    margin-bottom: 40px;
}
.app-header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 40px;
    /* background-color: magenta; */
    /* position: absolute;
    top: 40;
    left: 0; */
}
.app-logo{
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.app-title{
margin-left: 10px;

}
.app-content{
    width: 100%;
}
.about-content{
    display: flex;
    flex-direction: row;
    width: 90%;
    /* background-color: magenta; */
    justify-content: center;
    padding: 20px;
    margin: auto;
    position: relative;
    gap: 20px;
}
.about-img{
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    /* background-color: blue; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    border: 10px solid #020024;
}
.about-img img{
    width: 100%;
    scale: 1;
    margin-top: 80px;
}
.about-text{
    max-width: 600px;
    height: 250px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: auto;
    margin-bottom: auto;
}
.about-text h3{
 opacity: 0.8;
 margin-top: 0;
}
.about-text h2{

}
.about-text p{
 opacity: 0.9;
}
.about-buttons{
    width: 400px;
    /* background-color: teal; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.btn{
    padding: 5px 20px;
    border-radius: 100px;
    color: white;
    background-color: #020024;
    cursor: pointer;
    border: 3px solid #020024;
    transition: all ease-in-out 0.3s;
}
.btn:hover{
    scale: 1.05;
    box-shadow: #3931d870 0px 2px 5px;
    transition: all ease-in-out 0.3s;
}
.btn-primary{
    border: 3px solid #3931d8ab;

}

.btn-primary:hover{
    border: 3px solid #3931d8;
    box-shadow: #3931d870 0px 2px 5px;
}
.btn-secondary{
    
}
.filler-box{
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    background-color: #02002444;
}
.icon{
    font-size: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:inherit;
    padding: 5px 20px;
    border-radius: 100px;
    color: white;
    background-color: #020024;
    cursor: pointer;
    border: 3px solid #020024;
    transition: all ease-in-out 0.3s;
    position: relative;
    z-index: 2;
}
.icon-description{
    font-size: 15px;
    position: absolute;
    z-index: 1;
    opacity: 0.0;
    transition: all 0.3s ease;
}
.icon:hover{
    scale: 1.3;
}
.icon:hover .icon-description{
    opacity: 1;
    transform: translateY(-30px);
}

.about-what_i_do{
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 80%;
    padding:0px 20px;
    box-sizing: border-box;
    margin: auto;
}
.mar-l-a{
    padding-left: 25px;
}
.sub-title{
 width: 100%;
 box-sizing: border-box;
 /* background-color: rgba(255, 255, 0, 0.137); */
}
.sub-title-accent{
    height: 5px;
    fill: #3931d8;
    /* stroke-width: 10px;  */
    stroke: #3931d8;
    margin: 0;
    transform: translateY(-10px);
  } 

  .what_i_do-content{
    background-color: yellow;
    width: 100%;
    min-height: 300px;
  }

  .grid-container-what_i_do {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Create two equal-width columns */
    grid-template-rows: repeat(2, 80px); /* Create two rows with a fixed height of 200px */
    gap: 40px;
    padding: 5px 40px; /* Optional: Add padding to the grid container */
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

.grid-item {
    /* background-color: #f0f0f01f;  */
    padding: 5px; 
    width: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
    gap: 15px;
}
.grid-icon{
    width: 60px;
    /* background-color: aquamarine; */
    color: #3931d8;
    font-size: 60px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    padding-top: 5px;
}
.grid-text{
    
}
.grid-text h2{
    font-size: 20px;
}
.grid-text p{
    font-weight: 500;
    opacity: 0.7;
}