/* Table of contents: 
* Base classes      : lines 9 - 159 
* Mobile Devices    : lines 168 - 260
* Tablets Lg mobile : lines 263 - 367
* Sm screens/laptops: lines 370 - 478
* lg screens/desktop: lines 481 - 
* xl screens/tvs    : lines
*   Notes for styling
*   - Some styles like btns & fonts are considered Global. They're located in App.css
*/

.pretty-cont {
    background-color: var(--bg-shadow);
    backdrop-filter: blur(3px) saturate(1.25);
    background-position: center;
    border: 2px var(--bg-shadow-dark) solid;
    border-radius: 30px;
    transition: all 0.05s ease-in-out;
}
.potato-cont{
    background-color: var(--secondary);
    border: 2px var(--bg) solid;
    border-radius: 30px;
    transition: none;
}

.about-top-box {
    width: 100%;
}

.about-text p {
    text-align: justify;
    text-justify: auto !important;
}

.about-container {
    display: block;
}

.about-top-content {
    display: block;
    flex-flow: column;
    width: 100%;
    justify-content: center;
    margin: auto;
    position: relative;
}

.about-img {
    overflow: hidden;
    display: flex;
    position: relative;
}

.about-img img {
    width: 100%;
    height: auto;
    scale: 1;
    opacity: 0.99;
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
}

.about-img-transition-1 {
    background: linear-gradient(180deg, var(--bg-shadow-dark) 0%, #ffffff00 100%);
    z-index: 3;
    width: 100%;
    position: absolute;
    top: 0;
    font-size: 1px;
    color: #ffffff00;
}

.about-img-transition-2 {
    background: linear-gradient(0deg, var(--bg-shadow-dark) 0%, #ffffff00 100%);
    z-index: 3;
    width: 100%;
    position: absolute;
    bottom: 0;
    font-size: 1px;
    color: #ffffff00;
}

.about-text {
    display: flex;
    flex-direction: column;

    z-index: 3;
    box-sizing: border-box;

}

.about-text h3 {
    opacity: 0.8;
    margin-top: 0;
}

.about-text h2 {}

.about-text p {
    opacity: 0.9;
}


.about-buttons {
    display: flex;
    justify-content: space-around;
    box-sizing: border-box;

    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    /* background-color: rgba(255, 255, 0, 0.372);  */
    z-index: 4;
}

.about-transition {
    background: linear-gradient(0deg, #ffffff00 0%, var(--bg-shadow-dark) 100%);
    font-size: 1px;
    padding: 5px;
    color: #ffffff00;
}


.grid-container-what_i_do {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    width: 100%;
    margin: auto;
}

.grid-item {
    width: auto;
    display: flex;
    flex-direction: row;
    box-sizing: border-box;
    align-items: center;
}

.grid-icon {
    color: #3931d8;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
}

.grid-text {}

.grid-text h2 {}

.grid-text p {
    font-weight: 500;
    opacity: 0.7;
}

.about-what_i_do {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 100%;
    /* padding: 0px 20px; */
    box-sizing: border-box;
    margin: auto;
}

.what_i_do-content {
    width: 100%;
}

/*Mobile devices*/
@media only screen and (max-width: 480px) {
    .about-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about-top-content {
        height: 550px;
        margin-top: 20px;
    }

    .about-img {
        width: 100%;
        height: 375px;
        border-radius: 25px 25px 0px 0px;
    }

    .about-img img {
        transform: scaleX(-1);
    }

    .about-img-transition-1 {
        height: 50px;
        padding: 5px;
    }

    .about-img-transition-2 {
        height: 70px;
        padding: 5px;
    }

    .about-text {
        min-height: 200px;
        max-height: 250px;
        gap: 5px;
        padding: 10px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: var(--bg-shadow-dark);
        backdrop-filter: blur(3px) saturate(1.25);
        border-top: 1px #27273fc4 solid;
    }

    .about-text h3 {
        text-shadow: 1px 1px 1px var(--bg-shadow-dark);
    }

    .about-text h2 {
        text-shadow: 1px 1px 1px var(--bg-shadow-dark);
    }

    .about-text p {

        text-shadow: 1px 1px 1px var(--bg-shadow-dark);
    }

    .about-buttons {
        margin-top: 10px;
        padding: 10px;
    }


    .grid-container-what_i_do {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 80px);
        gap: 40px;
        padding: 5px 40px;
    }

    .grid-item {
        padding: 5px;
        gap: 15px;
    }

    .grid-icon {
        width: 60px;
        font-size: 60px;
        padding-top: 5px;
    }

    .grid-text {}

    .grid-text h2 {
        font-size: 20px;
    }

    .grid-text p {
        font-weight: 500;
        opacity: 0.7;
    }

}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .about-container {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about-top-content {
        height: 650px;
        margin-top: 20px;

    }

    .about-img {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
        height: 375px;
        border-radius: 25px 25px 0px 0px;
    }

    .about-img img {
        transform: scaleX(-1) translateY(-40px);
    }

    .about-img-transition-1 {
        height: 50px;
        padding: 5px;
    }

    .about-img-transition-2 {
        height: 70px;
        padding: 5px;
    }

    .about-text {
        min-height: 200px;
        max-height: 350px;
        gap: 5px;
        padding: 20px;
        width: 100%;
        position: absolute;
        bottom: 0;
        background-color: var(--bg-shadow-dark);
        backdrop-filter: blur(3px) saturate(1.25);
        border-top: 1px #27273fc4 solid;
        padding-bottom: 65px;
    }

    .about-text h3 {
        font-size: 20px;
        text-shadow: 1px 1px 1px var(--bg-shadow-dark);
    }

    .about-text h2 {
        font-size: 25px;
        text-shadow: 1px 1px 1px var(--bg-shadow-dark);
    }

    .about-text p {
        opacity: 0.9;
        text-shadow: 1px 1px 1px var(--bg-shadow-dark);
    }

    .tablet-indented {
        padding-left: 5px;
        box-sizing: border-box;
    }

    .about-buttons {
        margin-top: 10px;
        padding: 10px;
    }


    .grid-container-what_i_do {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 80px);
        gap: 40px;
        padding: 5px 40px;
    }

    .grid-item {
        padding: 5px;
        gap: 15px;
    }

    .grid-icon {
        width: 60px;
        font-size: 60px;
        padding-top: 5px;
    }

    .grid-text {}

    .grid-text h2 {
        font-size: 20px;
    }

    .grid-text p {
        font-weight: 500;
        opacity: 0.7;
    }


}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .about-container {
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .about-top-content {
        display: flex;
        flex-direction: row;
        width: 100%;
        /* background-color: magenta; */
        justify-content: center;
        align-items: flex-start;
        padding: 20px;
        box-sizing: border-box;
        margin: auto;
        position: relative;
        gap: 20px;
        height: 350px;
    }

    .about-img {
        width: 250px;
        height: 250px;
        min-width: 250px;
        min-height: 250px;
        align-items: center;
        justify-content: center;
        border-radius: 150px;
        border: 10px solid #020024;
    }

    .about-img img {
        transform: scaleX(-1);
    }

    .about-text {
        width: auto;
        height: 250px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        margin-top: auto;
        margin-bottom: auto;
        padding-right: 5px;
        box-sizing: border-box;
    }

    .about-text h3 {
        opacity: 0.8;
        margin-top: 0;
    }

    .about-text h2 {}

    .about-text p {
        opacity: 0.9;
        font-size: 16px;
    }

    .about-buttons {
        padding: 10px;
    }

    .about-transition {
        display: none;
    }

    .grid-container-what_i_do {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 125px);
        gap: 15px;
        padding: 5px 25px;
        width: 100%;
        margin: auto;
        height: fit-content;
    }

    .grid-item {
        /* background-color: #f0f0f01f;  */
        padding: 5px;
        gap: 15px;
        position: relative;
        height: 125px;

    }

    .grid-icon {
        width: 45px;
        font-size: 40px;
        padding-top: 5px;
        position: absolute;
        top: 10px;
        left: 0;
    }

    .grid-text {
        margin-left: 50px;
        position: absolute;
        top: 5px;
    }

    .grid-text h2 {
        font-size: 20px;
    }

    .grid-text p {}
}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .about-container {
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .about-top-content {
        display: flex;
        flex-direction: row;
        width: 90%;
        justify-content: center;
        align-items: flex-start;
        padding: 20px 0px;
        box-sizing: border-box;
        margin: auto;
        position: relative;
        gap: 20px;
        height: 425px;
    }

    .about-img {
        width: 300px;
        height: 300px;
        min-width: 300px;
        min-height: 300px;
        align-items: center;
        justify-content: center;
        border-radius: 200px;
        border: 10px solid #020024;
    }

    .about-img img {
        transform: scaleX(-1);
    }

    .about-text {
        width: auto;
        height: 320px;
        display: flex;
        flex-direction: column;
        gap: 10px;
        /* margin-top: auto; */
        /* margin-bottom: auto; */
        padding-right: 5px;
        box-sizing: border-box;
        
    }

    .about-text h3 {
        opacity: 0.8;
        margin-top: 0;
        font-size: 23px;
    }

    .about-text h2 {
        font-size: 35px !important;
    }

    .about-text p {
        opacity: 0.9;
        font-size: 23px;
        text-align: justify;
    }

    .about-buttons {}

    .about-transition {
        display: none;
    }

    .grid-container-what_i_do {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 125px);
        gap: 20px 40px;
        padding: 5px 25px;
        width: 90%;
        margin: auto;
        height: fit-content;

        /* background-color: rgba(255, 255, 0, 0.481); */
    }

    .grid-item {
        /* background-color: #f0f0f01f;  */
        padding: 5px;
        gap: 15px;
        position: relative;
        height: 125px;

    }

    .grid-icon {
        width: 45px;
        font-size: 40px;
        padding-top: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .grid-text {
        margin-left: 50px;
        position: absolute;
        top: 5px;
    }

    .grid-text h2 {
        font-size: 23px;
    }

    .grid-text p {
        font-size: 20px;
    }
}

/*Extra large screens, TV*/
@media only screen and (min-width: 1201px) {
    .about-container {
        display: block;
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .about-top-content {
        display: flex;
        flex-direction: row;
        width: 75%;
        justify-content: center;
        align-items: center;
        padding: 20px 0px;
        box-sizing: border-box;
        margin: auto;
        position: relative;
        gap: 20px;
        height: 540px;
        padding-bottom: 50px; /* for the buttons positions absolutely at the bottom*/
    }

    .about-img {
        width: 400px;
        height: 400px;
        min-width: 400px;
        min-height: 400px;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        border: 10px solid #020024;
    }

    .about-img img {
        transform: scaleX(-1);
    }

    .about-text {
        width: auto;
        height: fit-content;
        max-height: 400px;
        display: flex;
        flex-direction: column;
        gap: 15px;
        padding-right: 5px;
        box-sizing: border-box;
        
    }

    .about-text h3 {
        opacity: 0.8;
        margin-top: 0;
        font-size: 23px;
    }

    .about-text h2 {
        font-size: 40px !important;
    }

    .about-text p {
        opacity: 0.9;
        font-size: 30px;
        text-align: justify;
    }

    .about-buttons {}

    .about-transition {
        display: none;
    }

    .grid-container-what_i_do {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 150px);
        gap: 20px 40px;
        padding: 5px 25px;
        width: 75%;
        margin: auto;
        height: fit-content;

        /* background-color: rgba(255, 255, 0, 0.481); */
    }

    .grid-item {
        /* background-color: #f0f0f01f;  */
        padding: 10px;
        gap: 15px;
        position: relative;
        height: 150px;

    }

    .grid-icon {
        width: 50px;
        font-size:50px;
        padding-top: 5px;
        position: absolute;
        top: 0;
        left: 0;
    }

    .grid-text {
        margin-left: 50px;
        position: absolute;
        top: 5px;
    }

    .grid-text h2 {
        font-size: 30px;
    }

    .grid-text p {
        font-size: 25px;
        padding-left: 10px;
    }
}