.about-container{
    display: flex;
    background-color: #02002486;
    backdrop-filter: blur(5px) saturate(1.25);
    width: 100%;
    border: 2px #27273fc4 solid;
    /* height: 90%; */
    min-height: 200px;
    height: fit-content;
    border-radius: 30px;
    margin: 0 0;
    align-items: flex-start;
    justify-content: center;
    position: relative;
    padding-top: 40px;
    flex-direction: column;
    height: fit-content;
    /* overflow-x: hidden; */
    
}
.app-header{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    padding-left: 40px;
    /* background-color: magenta; */
    /* position: absolute;
    top: 40;
    left: 0; */
}
.app-logo{
    width: 40px;
    height: 40px;
    margin-top: auto;
    margin-bottom: auto;
}
.app-title{
margin-left: 10px;

}
.app-content{
    width: 100%;
}
.about-content{
    display: flex;
    flex-direction: row;
    width: 90%;
    /* background-color: magenta; */
    justify-content: center;
    padding: 20px;
    margin: auto;
    position: relative;
    gap: 20px;
}
.about-img{
    width: 250px;
    height: 250px;
    min-width: 250px;
    min-height: 250px;
    /* background-color: blue; */
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 150px;
    border: 10px solid #020024;
}
.about-img img{
    width: 100%;
    scale: 1;
    margin-top: 80px;
}
.about-text{
    max-width: 600px;
    height: 250px;
}
.about-text h3{
 opacity: 0.8;
 margin-top: 0;
}
.about-text h2{

}
.about-text p{
 opacity: 0.9;
}
.about-buttons{
    width: 400px;
    /* background-color: teal; */
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
.btn{
    padding: 5px 20px;
    border-radius: 100px;
    color: white;
    background-color: #020024;
    cursor: pointer;
    border: 3px solid #020024;
    transition: all ease-in-out 0.3s;
}
.btn:hover{
    scale: 1.05;
    box-shadow: #3931d870 0px 2px 5px;
    transition: all ease-in-out 0.3s;
}
.btn-primary{
    border: 3px solid #3931d8ab;

}

.btn-primary:hover{
    border: 3px solid #3931d8;
    box-shadow: #3931d870 0px 2px 5px;
}
.btn-secondary{
    
}
.filler-box{
    height: 3000px;
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    width: 100%;
}
.icon{
    font-size: 10px;
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor:inherit;
    padding: 5px 20px;
    border-radius: 100px;
    color: white;
    background-color: #020024;
    cursor: pointer;
    border: 3px solid #020024;
    transition: all ease-in-out 0.3s;
    position: relative;
    z-index: 2;
}
.icon-description{
    font-size: 15px;
    position: absolute;
    z-index: 1;
    opacity: 0.0;
    transition: all 0.3s ease;
}

.icon:hover .icon-description{
    opacity: 1;
    transform: translateY(-30px);
}