/* About text */
/* this file contains text size changes at weird break points */
.about-text p {
    opacity: 0.9;
    transition: all 0.05s ease-in-out;
}

/*Mobile devices*/
@media only screen and (max-width: 480px) {}

/* Mobile lg */
@media only screen and (min-width: 481px) and (max-width: 526px) {
    
}

/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

}

/*Small screens*/
@media only screen and (min-width: 769px) and (max-width: 780px) {
    .about-text p {
        font-size: 15.5px;
        /* color: orange; */
    }
}

/*laptops 1*/
@media only screen and (min-width: 781px) and (max-width: 879px) {
    .about-text p {
        font-size: 16.5px;
        /* color: red; */
    }
}

/*laptops 2*/
@media only screen and (min-width: 880px) and (max-width: 953px) {
    .about-text p {
        font-size: 18px;
        /* color: rgb(89, 255, 0); */
    }
}

@media only screen and (min-width: 954px) and (max-width: 1024px) {
    .about-text p {
        font-size: 20px;
        /* color: rgb(0, 255, 234); */
    }
}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {}

/*Extra large screens, TV*/
@media only screen and (min-width: 1201px) and (max-width: 1354px) {
    .about-img {
        width: 300px;
        height: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    .about-text h3 {

        font-size: 23px;
    }

    .about-text h2 {
        font-size: 35px !important;
    }

    .about-text p {
        opacity: 0.9;
        font-size: 23px;
        text-align: justify;
    }
}

@media only screen and (min-width: 1355px) and (max-width: 1599px) {
    .about-img {
        width: 300px;
        height: 300px;
        min-width: 300px;
        min-height: 300px;
    }

    .about-text h3 {
        font-size: 23px;
    }

    .about-text h2 {
        font-size: 40px !important;
    }

    .about-text p {
        font-size: 25px;
    }
}

@media only screen and (min-width: 1600px) {
    .about-img {
        width: 400px;
        height: 400px;
        min-width: 400px;
        min-height: 400px;
    }

    .about-text h3 {
        font-size: 25px;
    }

    .about-text h2 {
        font-size: 40px !important;
    }

    .about-text p {

        font-size: 30px;
    }
}