@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* App color scheme */
  --text: #EBE9FC;
  --bg: #010104;
  --primary: #5A37B3;
  --secondary: #020024;
  --accent: #3931d8;
  --accent2: #0600C2;

  /* lower opacity colors */
  --text-shadow: #ebe9fc3d;
  --bg-shadow-extra-dark: #020024d5;
  --bg-shadow-dark: #02002486;
  --bg-shadow: #02002486;
  --bg-shadow-light: #02002444;
  --pri-shadow: #5a37b3c4;
  --sec-shadow: #27273fc4;
  --acc1-shadow: #3931d8c4;
  --acc2-shadow: #0600c2c4;

  /* other colors */
  --bg-blue: rgba(8, 12, 61, 1);
  --bg-purple: rgba(134, 80, 244, 1);
  --font--fam: "Outfit", sans-serif;

}

/* Screen sizes:
320px — 480px: Mobile devices                 @media only screen and (max-width: 480px) {}
481px — 768px: iPads, Tablets                 @media only screen and (min-width: 481px) and (max-width: 768px) {}
769px — 1024px: Small screens, laptops        @media only screen and (min-width: 769px) and (max-width: 1024px) {}
1025px — 1200px: Desktops, large screens      @media only screen and (min-width: 1025px) and (max-width: 1200px) {}
1201px and more —  Extra large screens, TV    @media only screen and (min-width: 1201px) {}
* https://www.freecodecamp.org/news/media-query-css-example-max-and-min-screen-width-for-mobile-responsive-design/ *
*/

/* Global Styles */
/* Base styles for every class, width and other things are controlled with media queries */

* {
  font-family: var(--font--fam);
}

body {
  margin: 0;
  position: relative;
  color: white;
}

section {
  position: relative;
  flex-direction: column;
  align-items: center;
}

.bg-base {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.potato-bg {
  z-index: 2;
  background: var(--bg-purple);
  background: linear-gradient(0deg, var(--bg-purple) 0%, var(--bg-blue) 100%);
}

.pretty-bg {
  /* Moving Background is too memory intensive */
  /* but... it looks great! */
  background-image: url('./assets/purplewave.svg');
  position: absolute;
  width: 100%;
  scale: 1;
  z-index: 2;
  background-color: var(--bg-purple);

}

/* base container */
.app-container {
  display: flex;
  padding: 60px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100vh;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}

/* global styles */
/* .mar-l-a{
  padding-left: 25px;
} */


.app-header {
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 40px;
}

.app-logo {
  margin-top: auto;
  margin-bottom: auto;
}


.sub-title {
  box-sizing: border-box;
}

.sub-title-accent {
  height: 5px;
  fill: var(--accent);
  margin: 0;
  transform: translateY(-10px);
}

.btn {
  border-radius: 150px;
  color: white;
  background-color: #020024;
  cursor: pointer;
  border: 3px solid #020024;
  transition: all ease-in-out 0.3s;

}

.btn:hover {
  scale: 1.05;
  box-shadow: #3931d870 0px 2px 5px;
  transition: all ease-in-out 0.3s;
}

.btn-primary {
  border: 3px solid #3931d8ab;

}

.btn-primary:hover {
  border: 3px solid #3931d8;
  box-shadow: #3931d870 0px 2px 5px;
  background-color: #3931d8;
}

.btn-secondary {
  align-items: center;
  display: flex;
  gap: 5px;
}

.inp-text{
  
  color: rgba(255, 255, 255, 0.839);
  background-color: var(--secondary);
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}
.contact-submit{
}
input[type="text"]:focus{
 border: var(--accent) solid 2px;
}
/* https://moderncss.dev/pure-css-custom-checkbox-style/ */
input[type="checkbox"] {
  -webkit-appearance: none;
  appearance: none;
  background-color: var(--text);
  margin: 0;
  font: inherit;
  color: currentColor;
  width: 1.5em;
  height: 1.5em;
  border: 0.10em solid currentColor;
  border-radius: 0.25em;
  transform: translateY(-0.075em);
  display: grid;
  place-content: center;


}
input[type="checkbox"]::before {
  content: "";
  width: 1em;
  height: 1em;
  transform: scale(0);
  transition: 70ms transform ease-in-out;
  box-shadow: inset 1em 1em var(--primary);
  background-color: var(--primary);
  /* transform-origin: bottom left; */
  clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
input[type="checkbox"]:checked::before {
  transform: scale(1);
}
.form-control + .form-control {
  margin-top: 1em;
}

/*Mobile devices*/

/* @media only screen and (max-width: 480px) { */
@media only screen and (max-width: 525px) {
  h2 {
    font-size: 20px;
    margin: 0;
  }

  h3 {
    font-size: 15px;
  }

  p {
    font-size: 13px;
  }

  .app-container {
    padding: 10px;
  }

  .app-logo {
    width: 20px;
    height: 20px;
  }

  .app-title {
    margin-left: 5px;
  }

  .sub-title {
    width: 100%;
  }

  .mar-l-a {
    margin-left: 10px;
  }

  .mar-bot {
    margin-bottom: 20px;
  }

  .language-box {
    height: 100px;

  }

  .btn {
    padding: 5px 25px;
    font-size: 15px;
  }

  .inp-text{
    border-radius: 150px;
    border: 3px solid var(--primary);
    width: 20rem;
    font-size: 1.25rem;
    padding: 5px 20px;
    margin: 2.5px;
  }
  .contact-submit{
    width: 22.5rem;
    /* padding: 5px 20px; */
  }
}

/*iPads, Tablets*/
/* @media only screen and (min-width: 481px) and (max-width: 768px) { */
@media only screen and (min-width: 526px) and (max-width: 768px) {
  h2 {
    font-size: 23px;
    margin: 0;
  }

  h3 {
    font-size: 23px;
  }

  p {
    font-size: 20px;
  }

  .app-container {
    padding: 30px;
  }

  .app-logo {
    width: 40px;
    height: 40px;
  }

  .app-title {
    margin-left: 13px;

  }

  .sub-title {
    width: 100%;
  }

  .mar-l-a {
    margin-left: 20px;
  }

  .mar-bot {
    margin-bottom: 20px;
  }

  .language-box {
    height: 100px;

  }

  .btn {
    padding: 5px 20px;
    font-size: 18px;
  }
}

/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .app-container {
    padding: 60px;
  }

  .app-logo {
    width: 40px;
    height: 40px;
  }

  .app-title {
    margin-left: 10px;
  }

  .sub-title {
    width: 100%;
  }

  .app-header {
    margin-bottom: 40px;
  }

  .app-logo {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mar-l-a {
    padding-left: 25px;
  }

  .mar-bot {
    margin-bottom: 40px;
  }

  .btn {
    padding: 5px 20px;
    font-size: 15px;
  }

}

/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .app-container {
    padding: 60px;
  }

  .app-logo {
    width: 40px;
    height: 40px;
  }

  .app-title {
    margin-left: 10px;
  }

  .sub-title {
    width: 90% !important;
    margin: auto;
  }

  .app-header {
    margin-bottom: 40px;
  }

  .app-logo {
    margin-top: auto;
    margin-bottom: auto;
  }

  .mar-l-a {
    /* padding-left: 25px; */
  }

  .mar-bot {
    margin-bottom: 40px;
  }

  .btn {
    padding: 5px 20px;
    font-size: 23px;
  }
  .inp-text{
    border-radius: 150px;
    border: 3px solid var(--primary);
    width: 600px;
    font-size: 20px;
    padding: 5px 20px;
    margin: 2.5px;
  }
  .contact-submit{
    width: 600px;
  }
}

/*Extra large screens, TV*/
@media only screen and (min-width: 1201px) {
  .app-container {
    padding: 80px;
  }

  .app-logo {
    width: 40px;
    height: 40px;
  }

  .app-title {
    margin-left: 10px;
  }

  .sub-title {
    width: 75% !important;
    margin: auto;
    font-size: 25px;
  }

  .mar-l-a {
    /* padding-left: 25px; */
  }

  .mar-bot {
    margin-bottom: 40px;
  }

  .btn {
    padding: 5px 20px;
    font-size: 23px;
  }

  .inp-text{
    border-radius: 150px;
    border: 3px solid var(--primary);
    width: 600px;
    font-size: 20px;
    padding: 5px 20px;
    margin: 2.5px;
  }
  .contact-submit{
    width: 600px;
  }
}

/* font weight styles */
.outfit-100 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.outfit-200 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.outfit-300 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-500 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-600 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-800 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.outfit-900 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}