@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

:root {
  /* App color scheme */
  --text: #EBE9FC;
  --bg: #010104;
  --primary: #5A37B3;
  --secondary: #020024;
  --accent: #3931d8;
  --accent2: #0600C2;

  /* lower opacity colors */
  --bg-shadow-dark: #02002486;
  --bg-shadow-light: #02002444;
  --pri-shadow: #5a37b3c4;
  --sec-shadow: #27273fc4;
  --acc1-shadow: #3931d8c4;
  --acc2-shadow: #0600c2c4;

  /* other colors */
  --bg-blue: rgba(8, 12, 61, 1);
  --bg-purple: rgba(134, 80, 244, 1);
  --font--fam: "Outfit", sans-serif;

}

/* Screen sizes:
320px — 480px: Mobile devices                 @media only screen and (max-width: 480px) {}
481px — 768px: iPads, Tablets                 @media only screen and (min-width: 481px) and (max-width: 768px) {}
769px — 1024px: Small screens, laptops        @media only screen and (min-width: 769px) and (max-width: 1024px) {}
1025px — 1200px: Desktops, large screens      @media only screen and (min-width: 1025px) and (max-width: 1200px) {}
1201px and more —  Extra large screens, TV    @media only screen and (min-width: 1201px) {}
* https://www.freecodecamp.org/news/media-query-css-example-max-and-min-screen-width-for-mobile-responsive-design/ *
*/

/* Global Styles */
/* Base styles for every class, width and other things are controlled with media queries */

* {
  font-family: var(--font--fam);
}

body {
  margin: 0;
  position: relative;
  color: white;
}

section {
  position: relative;
  flex-direction: column;
  align-items: center;
}

.bg-base {
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: 1;
}

.potato-bg {
  z-index: 2;
  background: var(--bg-purple);
  background: linear-gradient(0deg, var(--bg-purple) 0%, var(--bg-blue) 100%);
}

.pretty-bg {
  /* Moving Background is too memory intensive */
  /* but... it looks great! */
  background-image: url('./assets/purplewave.svg');
  position: absolute;
  width: 100%;
  scale: 1;
  z-index: 2;
  background-color: var(--bg-purple);

}
/* base container */
.app-container {
  display: flex;
  padding: 60px;
  box-sizing: border-box;
  overflow-y: scroll;
  height: 100vh;
  position: relative;
  flex-direction: column;
  overflow-x: hidden;
}

/* global styles */
/* .mar-l-a{
  padding-left: 25px;
} */
.mar-bot{
  margin-bottom: 40px;
}

.app-header{
  width: 100%;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding-left: 40px;
}
.app-logo{
  margin-top: auto;
  margin-bottom: auto;
}


.sub-title{
width: 100%;
box-sizing: border-box;
}
.sub-title-accent{
  height: 5px;
  fill: var(--accent);
  margin: 0;
  transform: translateY(-10px);
} 



/*Mobile devices*/
@media only screen and (max-width: 480px) {
  h2{
     font-size: 20px;
     margin: 0;
  }
  h3{
    font-size: 15px;
  }
  p{
    font-size: 13px;
  }
  .app-container {
    padding: 10px;
  }
  .app-logo{
    width: 20px;
    height: 20px;
  }
  .app-title{
    margin-left: 5px;
    }
    .mar-l-a{
      margin-left: 10px;
    }
    .language-box {
      height: 100px;
  
    }

}
/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .app-container {
    padding: 30px;
  }
  .app-logo{
    width: 40px;
    height: 40px;
  }
  .app-title{
    margin-left: 10px;
    
    }
}
/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
  .app-container {
    padding: 60px;
  }
  .app-logo{
    width: 40px;
    height: 40px;
  }
  .app-title{
    margin-left: 10px;
    
    }
    .app-header{
      margin-bottom: 40px;
    }
    .app-logo{
      margin-top: auto;
      margin-bottom: auto;
    }
    .mar-l-a{
      padding-left: 25px;
    }
    .language-box {
      height: 100px;
  }

}
/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .app-container {
    padding: 60px;
  }
  .app-logo{
    width: 40px;
    height: 40px;
  }
  .app-title{
    margin-left: 10px;
    }
}
/*Extra large screens, TV*/
@media only screen and (min-width: 1201px) {
  .app-container {
    padding: 80px;
  }
  .app-logo{
    width: 40px;
    height: 40px;
  }
  .app-title{
    margin-left: 10px;
    }
}

/* font weight styles */
.outfit-100 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

.outfit-200 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
}

.outfit-300 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.outfit-400 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.outfit-500 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.outfit-600 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.outfit-700 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.outfit-800 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}

.outfit-900 {
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}