
.language-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 15px 30px;
    background-color: #02002444;
    border-top: 1px solid rgba(255, 255, 255, 0.049);
    border-bottom: 1px solid rgba(255, 255, 255, 0.049);
    flex-wrap: wrap;
    padding: 20px 50px 20px 50px;
    box-sizing: border-box;
    /* height: 200px; */
    height: fit-content;
}
.icon-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: inherit;
    flex-direction: column;
}

.icon {
    width: 45px;
    height: 45px;
    font-size: 35px;
    padding: 2.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: white;
    background-color: var(--bg);
    cursor: pointer;
    
    transition: all ease-in-out 0.2s;
    position: relative;
    z-index: 2;
    
}
.icon-cont h2{
    padding-top: 5px;
    font-size: 15px;
}
.icon-description {
    /* font-size: 15px; */
    position: absolute;
    z-index: 1;
    opacity: 0.0;
    transition: all 0.3s ease;
}

.icon:hover {
    scale: 1.1;
}

/*Mobile devices*/
@media only screen and (max-width: 480px) {

}
/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {

}
/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .language-box {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        background-color: #02002444;
        border-top: 1px solid rgba(255, 255, 255, 0.049);
        border-bottom: 1px solid rgba(255, 255, 255, 0.049);
        flex-wrap: wrap;
    }
    
    .icon {
        font-size: 10px;
        gap: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: inherit;
        padding: 5px 15px;
        border-radius: 100px;
        color: white;
        background-color: #020024;
        cursor: pointer;
        border: 3px solid #020024;
        transition: all ease-in-out 0.2s;
        position: relative;
        z-index: 2;
        scale: 1.5;
    }
    
    .icon-description {
        font-size: 15px;
        position: absolute;
        z-index: 1;
        opacity: 0.0;
        transition: all 0.3s ease;
    }
    
    .icon:hover {
        scale: 1.56;
    }
}
/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {

}
/*Extra large screens, TV*/
@media only screen and (min-width: 1201px) {

}