.language-box {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #02002444;
    border-top: 1px solid rgba(255, 255, 255, 0.049);
    border-bottom: 1px solid rgba(255, 255, 255, 0.049);
    flex-wrap: wrap;
    box-sizing: border-box;
    height: fit-content;
}
.icon-cont{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: inherit;
    flex-direction: column;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    background-color: var(--bg);
    cursor: pointer;
    transition: all ease-in-out 0.2s;
    position: relative;
    z-index: 2;
    
}
.icon:hover {
    scale: 1.1;
}


/*Mobile devices*/
@media only screen and (max-width: 480px) {
    .language-box {
        gap: 15px 30px;
        padding: 20px 50px 20px 50px;
    }
    .icon {
        width: 45px;
        height: 45px;
        font-size: 35px;
        padding: 2.5px;
        border-radius: 10px;
    }
    .icon-cont h2{
        padding-top: 5px;
        font-size: 15px;
    }
}
/*iPads, Tablets*/
@media only screen and (min-width: 481px) and (max-width: 768px) {
    .language-box {
        gap: 30px 60px;
        padding: 20px 50px 20px 50px;
    }
    .icon {
        width: 55px;
        height: 55px;
        font-size: 45px;
        padding: 5px;
        border-radius: 15px;
    }
    .icon-cont h2{
        padding-top: 10px;
        font-size: 20px;
    }
}
/*Small screens, laptops*/
@media only screen and (min-width: 769px) and (max-width: 1024px) {
    .language-box {
        gap: 15px 30px;
        padding: 20px 50px 20px 50px;
    }
    .icon-cont{
        gap: 5px;
    }
    
    .icon {
        width: 45px;
        height: 45px;
        font-size: 35px;
        padding: 2.5px;
        border-radius: 10px;    
    }
    .icon-cont h2{
        padding-top: 5px;
        font-size: 20px;
    } 
}
/*Desktops, large screens*/
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
    .language-box {
        gap: 15px 30px;
        padding: 20px 50px 20px 50px;
    }
    .icon-cont{
        gap: 10px;
    }
    
    .icon {
        width: 65px;
        height: 65px;
        font-size: 55px;
        padding: 2.5px;
        border-radius: 10px;
    }
    .icon-cont h2{
        font-size: 25px;
        margin: 0;
    }
}
/*Extra large screens, TV*/
@media only screen and (min-width: 1201px) {

}